.contact-img {
    width: 95%;
    height: 200px;
    margin: 11% 0 25% 1.5%;
}
form {
    margin-bottom: 26px;
}
/* mobile / flip 736px */
@media only screen and (min-width: 736px) {
    .contact-img {
        width: 90%;
        height: 400px;
        margin: 2% 0 18% 5%;
    }
    form {
        padding: 2.5%;
    }
}
/* tablet 834px */
@media only screen and (min-width: 834px) {
    .contact-img {
        margin: 2% 0 12% 5%;
    }
}
/* tablet 1024px */
@media only screen and (min-width: 1024px) {
    .contact-img {
        width: 84%;
        margin: 2% 0 5% 8%;
    }
    form {
        padding: 8.5%;
    }
}
/* tablet 1112px */
@media only screen and (min-width: 1112px) {
    .contact-img {
        width: 80%;
        margin: 2% 0 5% 10%;
    }
}