body, html {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    font-family: 'Noto Serif';
}
.highlight {
    color:#0600FF;
}
.federant-font {
    font-family: 'Federant';
}
a {
    text-decoration: none;
    color:#0600FF;
    font-family: 'Federant';
}
.title-bar {
    background-color: #F2F2F2;
}
#nav-logo-small{
    width: 16%;
    margin: 10px 0px 0px 28px;
}
.menu-icon::before {
    font-size: 2.2em;
    color:#0600FF;
    margin: -4px 0px 0px 24px;
}
.menu-icon::after {
    display: none;
}
.hero-section {
    display: flex;
    flex-wrap: wrap;
}
.hero-section > h2 {
    font-size: 32px;
    padding: 40px 40px 40px 16%;
}
.hero-text {
    margin-left: 20px;
    padding: 5px 25px 25px 25px;
}
.follow-me > p {
    margin-left: 45px;
}
.follow-me > ul {
    display: flex;
    list-style-type: none;
    margin-top: -20px;
    margin-left: 35px;
}
.follow-me > ul > li {
    margin-left: 10px;
}
.follow-me > ul > li > a > i {
    font-size: 2.2em;
}
/* tablet 768px */
@media only screen and (min-width: 768px) {
    .top-bar {
        background-color: #F2F2F2;
        height: 70px;
        padding: 0;
    }
    ul.menu {
        background-color: #F2F2F2;
    }
    #nav-logo-small{
        width: 26%;
        margin: 0px 0px 0px 28px;
    }
    li.menu-text {
        padding: 0 !important;
        margin: 10px 17% 0px 5%;
    }
    li.menu-links {
        margin-top: 35px;
    }
    .hero-section {
        margin-top: 50px;
    }
    .hero-section > h2 {
        padding: 210px 40px 40px 7%;
        order: 2;
    }
    .hero-text {
        padding: 85px 25px 25px 4.5%;
        margin-bottom: 1rem;
        order: 1;
    }
    .hero-text > h2 {
        font-size: 2.2rem;
    }
    .follow-me {
        margin-left: 30px;
    }
}
/* tablet 834px */
@media only screen and (min-width: 834px) {
    li.menu-text {
        margin: 10px 22% 0px 5%;
    }
    .hero-section > h2 {
        padding: 245px 40px 40px 10%;
    }
    .hero-text {
        padding: 85px 25px 25px 6.5%;
    }
}
/* tablet 1024px */
@media only screen and (min-width: 1024px) {
    li.menu-text {
        margin: 10px 34% 0px 5%;
    }
    .hero-section > h2 {
        font-size: 40px;
    }
    .hero-text > h2 {
        font-size: 3rem;
    }
    .hero-text {
        padding: 85px 25px 25px 7%;
    }
    .hero-text > p{
        font-size: 1.3em;
    }
    .follow-me {
        margin-left: 45px;
    }
}
/* laptop 1280px */
@media only screen and (min-width: 1280px) {
    li.menu-text {
        margin: 10px 45% 0px 5%;
    }
    .nav-logo-small {
        width: 35%;
        margin: 35px 0px 0px 28px;
    }
    .menu-links {
        margin-top: 85px;
    }
    .hero-section > h2 {
        font-size: 45px;
    }
    .hero-text {
        padding: 85px 25px 25px 14%;
    }
    .follow-me {
        margin-left: 155px;
    }
    .follow-me > p{
        font-size: 1.5em;
    }
    .follow-me > ul > li > a > i {
        font-size: 2.2em;
    }
}
/* laptop 1440px */
@media only screen and (min-width: 1440px) {
    li.menu-text {
        margin: 10px 45% 0px 8%;
    }
    .hero-section > h2 {
        font-size: 45px;
    }
    .hero-text {
        padding: 85px 25px 25px 17%;
    }
    .follow-me {
        margin: 10px 0px 0px 110px;
    }
}