.card-selection {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    margin-top: 25px;
}
.card {
    width: 100%;
    height: 27em;
}
.card-section {
    background-color: #F2F2F2;
}
.p-image {
    width: 100%;
    height: 23em;
}
/* laptop 1280px */
@media only screen and (min-width: 1280px) {
    .card-selection {
        padding: 70px 70px 70px 0px;
    }
    .card {
        width: 30%;
        margin-left: 60px;
    }
}
/* laptop 1440px */
@media only screen and (min-width: 1440px) {
    
}